#searchBar {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
}
#pageSelector {
  display: flex;
  justify-content: flex-end;
}
#pageInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}
