#container {
  display: flex;
  justify-content: center;
}

#card {
  width: 95vw;
}

@media screen and (min-width: 1025px) {
  #card {
    width: 75vw;
  }
}

#searchBar {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
#pageSelector {
  display: flex;
  justify-content: flex-end;
}
#pageInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}
